@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
}
#head {
    margin-bottom: 15px;
}
.nqwe {
  font-family: "Segoe UI";
}
#outputSUS {
  padding: 10px; 
  width:80%;
  background: rgba(255,255,255,0.8);
  border-radius: 15px;
}